# ----------------------
# Flask
# ----------------------
flask


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn


# ----------------------
# Tools
# ----------------------
-e git://github.com/pythonforfacebook/facebook-sdk.git#egg=facebook-sdk
itsdangerous==0.24
psycopg2==2.6
numpy